@{
    ViewBag.Title = "Home Page";
}

<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Bạn có thể học cắt tóc ở bất kỳ đâu chỉ cần 1 chiếc điện thoại smartphone và Internet</h2>
                <p>Học và thực hành theo sự hướng dẫn của chuyên gia!</p>
                <div class="badges">
                    @*<a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>*@
                    <img src="~/Content/home/img/3.png" class="img-responsive text-center" style="margin-left: auto;margin-right: auto;display: block;" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Học Tất Cả Mọi Nơi, Bất Cứ Thời Gian Nào qua di động - Cần trợ giúp gọi <a href="tel:0969771977">096 977 1977</a></h2>
                    <p class="text-muted">với Giám đốc Hùng Cường Salon - 25 năm chuyên gia nghề tóc</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="~/Content/home/img/hungcuong.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <h3>Giảng viên tóc quốc tế hàng đầu Việt Nam</h3>
                                <p class="text-muted">Tốt nghiệp các học viện tóc TONI & GUI Thượng Hải, VIDAL SASSOON Ma Cao</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-camera text-primary"></i>
                                <h3>Tận Tâm</h3>
                                <p class="text-muted">Hướng dẫn nhiệt tình chu đáo</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-present text-primary"></i>
                                <h3>Truyền nghề bí kíp</h3>
                                <p class="text-muted">Tất cả những kinh nghiệm quý báu 25 năm được truyền cho bạn</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-lock-open text-primary"></i>
                                <h3>Hỗ trợ nghề nghiệp</h3>
                                <p class="text-muted">Hướng dẫn bạn lập nghiệp Salon tóc</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Hãy đăng ký học ngay bây giờ.<br>Tải App và cài đặt ngay nhé bạn.</h2>
            <a href="#download1" class="btn btn-outline btn-xl page-scroll">Bắt Đầu!</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>CHÚNG TA LÀ <i class="fa fa-heart"></i> ĐỒNG NGHIỆP!</h2>
        <h4>
            Email: <a href="mailto:hungcuong19771977@gmail.com" style="color:#0094ff">hungcuong19771977@gmail.com</a>,            
            Điện thoại: <a href="tel:0969771977" style="color:#0094ff">096 977 1977</a>
        </h4>
    </div>
</section>