
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<h2>Chính Sách Học Online của Học viện Cắt tóc Hùng Cường</h2>
<p>- Bạn không được cho mượn account người khác, chỉ 1 người được dùng account đó, khi phát hiện vi phạm, chúng tôi có quyền xóa nick</p>
<p>- Những bài học online là sản phẩm sở hữu trí tuệ của chúng tôi, bạn không có quyền sao chép hay sử dụng với bất kỳ mục đích gì mà chưa được sự đồng ý của Viện tóc quốc tế Hùng Cường</p>
<p>- Thanh toán đúng thời hạn để được cung cấp mã số học online</p>
<p>- Khi thanh toán bạn cần liên hệ với hotline 0969771977 để chúng tôi kích hoạt mã code cho bạn học</p>
<p>- Học phí của bạn được tính cho tất cả các tập học online. Bạn không cần phải đóng thêm khoản phí nào.</p>

